/*CSS RESET AND CONFIGURATIONS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FORMATTING THE BODY AND BACKGROUND */
body {
  font-family: "Lexend Deca", sans-serif;
  background-color: #000000;
  color: #111827;
}
/* FORMATTING THE STICKY HEADER */
header {
  text-align: center;
  background: #000000;
  color: rgb(0, 255, 13);
  font-family: Amatic SC;
  position: sticky;
  padding: 3px 0;
  top: 0;
  z-index: 2;
}
.pageHEader {
  font-size: 50px;
}
/* MASTER GRID LAYOUT */
.gridContainer {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  gap: 30px;
  padding: 40px;
}
/* LEFT GRID - FORM */
.gridOne {
  display: flex;
  justify-content: center;
}
/* FORM SECTION */
.formSection {
  background: rgb(35, 35, 35);
  padding: 25px;
  border-radius: 12px;
  width: 100%;
  max-width: 350px;
  border-width: 0.5px;
  border-color: lime;
  border-style: solid;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-content: center;
  position: fixed;
}
/* FORM INPUT, PLACEHOLDERS AND SELECT */
.formSection input,
.formSection select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #474646;
  width: 100%;
  margin: 7px;
}
.formSection input {
  background-color: rgb(71, 71, 71);
  color: white;
}
.formSection ::placeholder {
  color: rgb(99, 148, 101);
}
.formSection button {
  padding: 12px;
  background: #13df00;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.formSection button:hover {
  background: #1e40af;
}
/* RIGHT GRID - CARDS */
.gridTwo {
  display: flex;
  justify-content: center;
}
/* MAKING THE PHANTOM CARDS */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 30px;
  width: 100%;
  color: #f5f5f5;
}

/* CARD FLIPPING */
.placeCard {
  perspective: 1000px;
}

.placeInner {
  position: relative;
  width: 100%;
  height: 280px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
  font-family: TikTok Sans;
}

.placeCard:hover .placeInner {
  transform: rotateY(180deg);
}

.placeFront,
.placeBack {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.placeFront {
  background-color: #2c2c2c;
  color: #f5f5f5;
  font-weight: bold;
  font-size: 1.2rem;
}

.placeBack {
  background-color: #f5f5f5;
  color: #111827;
  transform: rotateY(180deg);
  font-size: 0.95rem;
  gap: 10px;
}

.placeBack button {
  margin-top: 12px;
  padding: 10px 14px;
  background: #ef4444;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.placeBack button:hover {
  background: #b91c1c;
}
